<!DOCTYPE html>
<html lang="en">
<head>
<title>TechDel.| YourOrders</title>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sublime project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'user_details/styles/bootstrap4/bootstrap.min.css' %}">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'user_details/styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'user_details/styles/cart_responsive.css' %}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="../homepage1/">TechDel<span>.</span></a></div>
							<nav class="main_nav">
								<ul>
									<li >
											<li><a href="../homepage1/">Home</a></li>
										

									<li><a href="../your_account/">Your Account</a></li>
									<li><a href="../your_orders/">Your Orders</a></li>
									<li><a href="../checkout/">CheckOut</a></li>
									<li><a href="../logout/">Sign Out</a>

									</li>
									</li>
									
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								<div class="shopping_cart">
									<a href="../cart/">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
											<g>
												<path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
											</g>
										</svg>
										<div>Cart </div>
									</a>
								</div>
								
		
		

		
	</header>

	
	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(https://images.unsplash.com/photo-1512790182412-b19e6d62bc39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										
										<li><a href="../homepage1/">Products</a></li>
										<li>Your Orders</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Cart Info -->

	<div class="cart_info">
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- Column Titles -->
					<div class="cart_info_columns clearfix">
						<div class="cart_info_col cart_info_col_product">Product</div>
						<div class="cart_info_col cart_info_col_price">Price</div>
						<div class="cart_info_col cart_info_col_quantity">Quantity</div>
						<div class="cart_info_col cart_info_col_total">Total</div>
					</div>
				</div>
			</div>
			<div class="row cart_items_row">
				<div class="col">

					<!-- Cart Item -->
					{% for i in c%}
					<form method=post action="../update_cart/">
						{%csrf_token%}
					<div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<!-- Name -->
						<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
							<div class="cart_item_image">
								<div><img src="{{i.product_pic}}" alt=""></div>
							</div>
							<div class="cart_item_name_container">
								<div class="cart_item_name"><a id="product_name">{{i.product_name}}</a></div>

							</div>
						</div>
						<!-- Price -->
						<div class="cart_item_price">{{i.product_price}}</div>
						<!-- Quantity -->
						<div class="cart_item_quantity">
							<div class="product_quantity_container">
								
									<span>{{i.quantity}}</span>
									
									
								
							</div>
						</div>
						<!-- Total -->
						<div class="cart_item_total">{{i.total}}</div>
					</div>
						

						</form>
					{% endfor%}
				</div>
			</div>
			<div class="row row_cart_buttons">
				<div class="col">
					<div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="button continue_shopping_button"><a href="../homepage1/">Continue shopping</a></div>
						
						
						
							
							
						
					</div>
				</div>
			</div>
			

				
			</div>
		</div>		
	</div>

	<!-- Footer -->
	
	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_background" style="background-image:url(https://unsplash.com/photos/OwvRB-M3GwE)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="footer_logo"><a href="#">TechDel.</a></div>
						<div class="container"id ="contact">
     
      <h5>Contact Us</h5>
	  <p>Head office : techdel@gmail.com</p>
	  <p>Customer Service : techhelp@gmail.com</p>
    </div>
						
						
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script src="{% static 'user_details/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'user_details/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'user_details/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'user_details/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'user_details/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'user_details/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'user_details/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'user_details/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'user_details/plugins/easing/easing.js' %}"></script>
<script src="{% static 'user_details/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'user_details/js/cart.js' %}"></script>
</body>
</html>